# datasets
datasets_pytorch/
data/
*.tar.gz
*.zip

# model/checkpoint files
*.pt
*.pth
*.ckpt
!byzantine/cpa_info/*.pt

# logs / experiment outputs
wandb/
runs/
logs/
outputs/
checkpoints/
results/

# python cache
__pycache__/
*.pyc
*.pyo
*.pyd
.ipynb_checkpoints/

# env / system
.env
.venv/
.DS_Store

# IDE files
.idea/